<div fxFlex fxLayout="column">
  <mat-toolbar class="toolbar" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="navigation" fxFlex fxLayout="row" fxLayoutAlign="start">
      <div class="isCurrentPage() button" fxLayoutAlign="start center" (click)="navigation('home')">
        <mat-icon>home</mat-icon>Home
      </div>
      <div class="button" fxLayoutAlign="start center" (click)="navigation('articles')">
        <mat-icon>article</mat-icon>Articles
      </div>
      <div class="button" fxLayoutAlign="start center" (click)="navigation('community')">
        <mat-icon>home</mat-icon>Communauté
      </div>
    </div>

    <!-- Search -->
    

    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <div>
        <mat-form-field appearance="legacy">
          <input matInput [(ngModel)]="search" #input />
            <mat-icon class="icon-search" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigation('profile')">Profile</button>
        <button mat-menu-item (click)="navigation('settings')">Settings</button>
        <button mat-menu-item (click)="navigation('logout')">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>


